extends layout

append scripts
    script(src="//codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js")
    :coffee
        longSample = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius posuere libero nec fermentum. Vestibulum ac luctus tortor. Mauris sed massa consequat, lacinia mi nec, interdum nibh. Quisque sit amet eros condimentum, fermentum sem in, varius quam. Sed pharetra, elit a cursus dignissim, velit velit pharetra eros, sit amet rhoncus libero odio vel est. Cras turpis risus, mattis et magna bibendum, tristique dictum metus. Proin mauris justo, semper semper lobortis in, venenatis ut justo. Donec at libero risus.
    
            Donec lacus velit, luctus non leo et, adipiscing euismod purus. Quisque tincidunt velit et rutrum fermentum. Vivamus consectetur venenatis ipsum et venenatis. Proin congue justo vel semper dictum. In aliquam ut libero id posuere. Donec fringilla sagittis lectus sit amet auctor. Integer in consequat quam. Ut egestas consectetur felis hendrerit dapibus. Sed ultrices malesuada fringilla. Nam eget nisl et dui euismod semper. Nullam vehicula, nisi non molestie pulvinar, eros ipsum facilisis sapien, vitae bibendum velit urna vitae erat. Suspendisse interdum leo eu leo volutpat, in auctor eros ultrices. Praesent elementum gravida odio vitae viverra. Phasellus a justo lectus. Fusce scelerisque ante sapien, condimentum viverra elit blandit sed. Donec laoreet diam a tincidunt semper.
    
            Fusce pulvinar ante metus, at posuere neque pretium et. Aliquam ac venenatis sem, ut tempus tortor. Proin eu commodo magna. Vivamus et pretium libero. Curabitur sem leo, viverra ac venenatis nec, bibendum at arcu. Sed congue ligula id nulla tincidunt, non fermentum eros placerat. Ut sapien eros, luctus ut risus id, porta euismod nibh. Pellentesque accumsan consequat purus, non suscipit neque rhoncus et. Donec commodo euismod nulla. Suspendisse quam mauris, laoreet vitae leo sit amet, aliquam ullamcorper turpis. Praesent ligula tortor, mollis sed tellus vel, dignissim ullamcorper diam. Vestibulum sed justo consectetur, aliquam sapien et, tempus nisi. Maecenas suscipit venenatis interdum. Donec scelerisque massa ac sodales faucibus. Pellentesque vestibulum tristique mi, a elementum lorem vestibulum nec."
        thisCog = 'Fi'
        funcList = ['Fi', 'Fi', 'Se', 'Si', 'Ne', 'Ni', 'Te', 'Ti']
        cogPairs =
            Fi: 'Te'
            Fe: 'Ti'
            Se: 'Ni'
            Si: 'Ne'
            Ne: 'Si'
            Te: 'Fi'
            Ti: 'Fe'
            Ni: 'Se'
        shortDesc =
            Fi: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Fe: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Te: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Ti: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Se: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Si: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Ne: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
            Ni: "A short description of the function, in context. That would be stellar.ription of the function, in context. That would be stellar."
        longDesc = 
            Fi: longSample
            Fe: longSample
            Te: longSample
            Ti: longSample
            Se: longSample
            Si: longSample
            Ne: longSample
            Ni: longSample
        jQuery ->
            $ = jQuery
            $('.cog-func').draggable
                revert: true,
                start: (event, ui) ->
                    thisCog = $(this).attr('data-cog-func')
            $('.slots').droppable
              drop: ( event, ui ) ->
                self = $(this)
                self
                    .attr('src', 'http://placehold.it/200/ACBB2F/FFF&text='+thisCog)
                    .attr('title', shortDesc[thisCog])
                    console.log(thisCog)

block content
    .row
        .large-12.columns
            nav.top-bar
                ul.title-area
                    li.name
                        h1
                            a(href='#') Typistocracy
                    li.toggle-topbar.menu-icon
                        a(href='#')
                            span menu
                section.top-bar-section(id="#fifth-stop")
                    ul.inline-list.right
                        li.active
                            a(href="#") Functions
                        li
                            a(href="#") Dichotomies
                        li
                            a(href="#") Take The Test!
                        
        .large-12.columns
            .panel.radius
                h1.homo Cognitive Functions Tool
                h5 An interactive resource for learning about Cognitive Functions and how they combine in psychological types.
    .row
        #third-stop.large-12.columns
            ul.large-block-grid-4.small-block-grid-2.text-center
                each val in ['Dominant', 'Auxiliary', 'Tertiary', 'Inferior']
                    li
                        a.has-tip(href="#", data-reveal-id=val, title="Testing tooltips...")
                            img.slots(src="http://placehold.it/200/D9D9D9/FFF&text="+val)
    hr
    .row
        #first-stop.large-12.columns
        each funclist in [['Fe', 'Te', 'Fi', 'Ti'], ['Ne', 'Se', 'Ni', 'Si']]
            .large-6.columns
                ul.large-block-grid-2.small-block-grid-2.text-center
                    each val in funclist
                        li.cog-func(data-cog-func=val)
                            a.has-tip(href="#", data-reveal-id=val, title="Testing tooltips....")
                                img(src='http://placehold.it/150/10413A/FFF&text='+val)
    .row
        .large-12.columns
            #fourth-stop.panel.radius
                .panel.text-center
                    h1 XXXX
                p(contenteditable=true).
                    Hi, friends. All good.
    
    each funcy in ['Fi', 'Fe', 'Te', 'Ti', 'Se', 'Si', 'Ne', 'Ni', 'Dominant', 'Auxiliary', 'Tertiary', 'Inferior']          
        .reveal-modal(id=funcy)
            h2= funcy
            p Desperately in need of a good description.
            a.close-reveal-modal &#215;
    
    ol.joyride-list(data-joyride)
        li
            h2 Welcome!
            p This tool should help familiarize you with cognitive functions, function ordering, and how they make up types.
        li(data-id="first-stop")
            h2 At a glance...
            p You can hover over any of the functions or ordering slots to learn more about it.
        li(data-id="second-stop")
            h2 Dig deeper...
            p If you click on any of these elements, you will see more detailed information about it.
        li(data-id="third-stop")
            h2 Drag and Drop...
            p Any of the functions can be dragged into these slots to place them in order. You can then hover/click this to learn more about the function in that context.
        li(data-id="fourth-stop")
            h2 The Types...
            p Once you've placed enough functions in place to create a type, we will tell you more about it.
        li(data-id="fifth-stop", data-text="Enjoy!")
            h2 Learn more...
            p Feel free to learn more about typology, offer feedback, or even take a quiz to help determine your type using the menu at the top of the screen.
            
append scripts
    script.
        $.backstretch("http://media.salon.com/2013/02/shutterstock_psychology-brain-wheels-1280x960.jpg");
        $(document).foundation('joyride', 'start');