extends layout

block styles
    link(rel='stylesheet', href='foundation/scss/normalize.css')
    link(rel='stylesheet', href='foundation/scss/reveal.css')
    link(rel="stylesheet", href="css/vendor/jorgchart.jquery.css")
    
mixin schrod(name, dead)
    if dead
        a.member(title=kid.name, data-reveal-id=kid.id)= "hi" + "ho"
    else
        a.member(title=kid.name, data-reveal-id=kid.id)= name

mixin children(kids)
    ul
        each kid in kids
            li
                a.member(title=kid.name, data-reveal-id=kid.id)= name
                    if kid.children
                        +children(kid.children)
                        
mixin kinders(kids)
    each kid in kids
        .reveal-modal(id=kid.id)
            h2= kid.name
            hr
            if kid.deceased
                strong Deceased
                hr
            h4 Children
            br
            if kid.children
                +kinderlist(kid.children)
        if kid.children
            +kinders(kid.children)
                    
mixin kinderlist(kids)
    each kid in kids
        a.member(href="#", title=kid.name, data-reveal-id=kid.id)= kid.name
        br
                    
    
block content
    ul#org(style="display:none")
        li Family
            +children(eccles.members)
    #chart
    
    each memb in eccles.members
        .reveal-modal(id=memb.id)
            h2= memb.name
            hr
            if memb.deceased
                strong Deceased
                hr
            h4 Children
            br
            if memb.children
                +kinderlist(memb.children)
        if memb.children
            +kinders(memb.children)

block scripts
    script(src='foundation/js/vendor/jquery.js')
    script(src='js/vendor/jorgchart.jquery.js')
    script(src='foundation/js/foundation.min.js')
    script.
        jQuery(function() {
            $('#1').foundation('reveal', 'open');
            $("#org").jOrgChart({
                chartElement: "#chart"
            });
            $(document).foundation();
        });
